---
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
const friends = [
  {
    title: "Arthals' ink",
    description: "所见高山远木，阔云流风；\n所幸岁月盈余，了无拘束。",
    link: "https://arthals.ink/",
    avatar: "https://cdn.arthals.ink/Arthals.png",
  },
];

export const getStaticPaths = (() => {
  return [{ params: { locale: undefined } }, { params: { locale: "en" } }];
}) satisfies GetStaticPaths;
---

<BaseLayout description={"友链传送门"} title={"CCLIN FRIENDS"}>
  <div class="grid grid-cols-1" lg="grid-cols-2">
    {
      friends.map(({ title, description, link, avatar }) => (
        <a
          class="border-rounded-2xl flex h-16 items-center gap-4 border p-4"
          href={link}
        >
          <Image
            alt={`${title}'s avatar`}
            class="size-16 rounded-full"
            height={32}
            src={avatar}
            width={32}
          />
          <div>
            <div>{title}</div>
            <div class="whitespace-pre text-sm">{description}</div>
          </div>
        </a>
      ))
    }
  </div>

  <hr class="my-8" />

  <div class="grid grid-cols-1" lg="grid-cols-2">
    <a
      class="border-rounded-2xl flex h-16 items-center gap-4 border p-4"
      href="https://www.travellings.cn/go.html"
    >
      <Image
        alt="开往"
        class="size-16 rounded-full"
        height={32}
        src="https://www.travellings.cn/assets/travelling.png"
        width={32}
      />
      <div>
        <div>开往</div>
        <div class="whitespace-pre text-sm">下一个世界……</div>
      </div>
    </a>
  </div>
</BaseLayout>
