---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const posts = (
  await getCollection("blog", ({ data }) => {
    return !data.draft;
  })
).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const title = SITE_TITLE;
const description = SITE_DESCRIPTION;
---

<BaseLayout title={title} description={description}>
  <main class="neu-box" id="content">
    {
      posts.map((post) => (
        <div class="article-item">
          <a href={`/${post.slug}/`}>
            <div class="article-title">{post.data.title}</div>
            <div class="article-date">
              <FormattedDate date={post.data.pubDate} />
            </div>
          </a>
        </div>
      ))
    }
  </main>
</BaseLayout>
<style>
  neu-box {
    border-radius: 15px;
    background: var(--surface);
    box-shadow:
      5px 5px 15px var(--shadow-dark),
      -5px -5px 15px var(--shadow-light);
    padding: 20px;
    margin-bottom: 20px;
  }

  #content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
  }

  .article-item {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    background: var(--surface);
    box-shadow:
      3px 3px 6px var(--shadow-dark),
      -3px -3px 6px var(--shadow-light);
    transition: all 0.3s ease;
  }
  .article-item:hover {
    transform: translateY(-3px);
    box-shadow:
      5px 5px 10px var(--shadow-dark),
      -5px -5px 10px var(--shadow-light);
  }
  .article-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: var(--accent-color);
  }
  .article-date {
    font-size: 0.9em;
    color: var(--secondary-text);
  }
  /* 自定义滚动条样式 */
  #content::-webkit-scrollbar {
    width: 8px;
  }
  #content::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 4px;
  }
  #content::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 4px;
  }
  #content::-webkit-scrollbar-thumb:hover {
    background: #2a75e6;
  }
</style>
