---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets"
const friends = [
  {
    title: "Arthals' ink",
    description: "所见高山远木，阔云流风；所幸岁月盈余，了无拘束。",
    link: "https://arthals.ink/",
    avatar: "https://cdn.arthals.ink/Arthals.png",
  },
];
---

<BaseLayout description={"友链传送门"} title={"CCLIN FRIENDS"}>
  <div class="grid grid-cols-3">
    {
      friends.map(({ title, description, link, avatar }) => (
        <a href={link} class="flex">
          <Image
            src={avatar}
            alt={`${title}'s avatar`}
            inferSize={true}
            class="round"
          />
          <div>
            <div>{title}</div>
            <div>{description}</div>
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
