---
import type { CollectionEntry } from "astro:content";
import BaseLatout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLatout title={title} description={description}>
  <main>
    <article>
      <h1 id="title">{title}</h1>
      <div id="date-group">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <hr />
      <div id="content">
        <slot />
      </div>
    </article>
  </main>
  <footer class="footer-license">
    <p xmlns:cc="http://creativecommons.org/ns#">
      This work is licensed under <a
        href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1"
        target="_blank"
        rel="license noopener noreferrer"
        style="display:inline-block;"
        >CC BY-NC 4.0<img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
          alt=""
        /><img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
          alt=""
        /><img
          style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
          src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"
          alt=""
        /></a
      >
    </p>
  </footer>
</BaseLatout>

<style>
  main,
  .footer-license {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    @media (width < 768px) {
      letter-spacing: 0.025em;
    }
  }

  .footer-license {
    padding-bottom: 2rem;
  }

  #title {
    text-align: center;
  }
  #date-group {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
  }
  #content {
    font-size: 1.25rem;
    letter-spacing: 0.01em;
    line-height: 1.5;

    a {
      text-decoration: underline;
    }
    h2 {
      font-weight: 500;
    }
    #footnote-label {
      display: none;
    }
    .footnotes {
      font-size: 0.875rem;
      color: #616161;
    }
    sup a {
      color: #616161;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
</style>
